<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

</head>

<body onload="MM_preloadImages('8.公共素材/icon-2.png','8.公共素材/icon-4.png','8.公共素材/icon-6.png')">
<div id="container">
  <div id="top"><img src="8.公共素材/logo.png" width="351" height="76" /></div>
  <div id="menu"><ul>
      <li><a href="index.html" >&nbsp;首页</a></li>
      <li><a href="shengping.html">人物生平</a></li>
      <li><a href="jucuo.html" >为政举措</a></li>
      <li><a href="chengjiu.html" class="dqy">艺术成就</a></li>
      <li><a href="qinshu.html">亲属成员</a></li>
      <li><a href="pingjia.html">历史评价</a></li>
      <li><a href="diangu.html">轶事典故</a></li>
    </ul>
  </div>
    
</div>
<div id="div2"></div>
<div id="contect1">
  <div id="zw1"><h3>诗歌</h3>
<P>曹操对文学、书法、音乐等都有深湛的修养。他的文学成就，主要表当今诗歌上，散文也很有特点。
<P>曹操的诗歌，今存20多篇，全部是乐府诗体。内容大体上可分三类。一类是关涉时事的，一类是以表述理想为主的，一类是游仙诗。
<P>与时事有某种关联的作品有《薤露行》、《蒿里行》、《苦寒行》、《步出夏门行》等。《薤露行》、《蒿里行》二诗，作于建安初年。前一篇反映何进谋诛宦官事败，董卓入洛阳作乱；后一篇写关东各州郡兴兵讨卓，又各怀野心，互相杀伐，在内容上紧相承接。诗篇以简练的语言，高度概括地写出了这一段历史过程，因此被誉为“汉末实录，真诗史也”（钟惺《古诗归》）。尤其可贵的是，在《蒿里行》诗中他以同情的笔调，写出了广大人民在战乱中所罹的深重苦难：“铠甲生虮虱，万姓以死亡，白骨露于野，千里无鸡鸣，生民百遗一，念之断人肠。”《苦寒行》作于建安十一年，诗篇描写冬日太行山区的酷寒、荒芜、险峻，形象生动，同时也写出了诗人内心的复杂感受。《步出夏门行》作于建安十二年征三郡乌桓时。该诗包括“艳”（前奏）及四解。“艳”着重写了诗人出征时的复杂心情。一解“观沧海”，写进军途经碣石时的观感；二解“冬十月”、三解“土不同”，写归途中见闻；四解“龟虽寿”，写取得了这场重要战役胜利后的思想活动。其中“观沧海”描写大海景象，“秋风萧瑟，洪波涌起，日月之行，若出其中；星汉灿烂，若出其里”，气势磅礴，格调雄放，映衬出诗人包容宇宙、吞吐日月的阔大胸怀。“龟虽寿”以一系列生动的比喻，表达诗人对人生及事业的看法：“老骥伏枥，志在千里，烈士暮年，壮心不已”。这是诗人贯彻终生的积极进取精神的真实表白。
<P>以表述理想为主的诗歌有《度关山》、《对酒》、《短歌行》等。前两篇写政治理想。他设想的太平盛世是儒法兼采、恩威并用的贤君良臣政治。这在汉末社会大破坏的现实背景下，无疑是具有进步意义的。《短歌行》的主题是求贤，以“山不厌高，海不厌深，周公吐哺，天下归心”等诗句，抒发求贤若渴，广纳人才，以冀成其大业心情。
<P>在艺术风格上，曹操诗歌朴实无华、不尚藻饰。它们以感情深挚、气韵沉雄取胜。在诗歌情调上，则以慷慨悲凉为其特色。慷慨悲凉，这本来是建安文学的共同基调，不过在曹操的诗中，它表现得最为典型，最为突出。在诗歌体裁上，曹操的乐府诗并不照搬汉乐府成规，而是有所发展。如《薤露行》、《蒿里行》，在汉乐府中都是挽歌，他却运用旧题抒写了全新的内容。曹操开创了以乐府写时事的传统，影响深远。建安作家以及从南北朝直到唐代的许多诗人，他们拟作的大量乐府诗，都可以说是这一传统的继承和发扬。
<P>曹操在文学上的功绩，还表现在他对建安文学（见建安七子）所起的建设性作用上，建安文学能够在长期战乱、社会残破的背景下得以勃兴，同他的重视和推动是分不开的。刘勰在论述建安文学繁荣原因时，就曾指出“魏武以相王之尊，雅爱诗章”（《文心雕龙时序》）。事实上，建安时期的主要作家，无不同他有密切关系。曹丕、曹植是他的儿子，“七子”及蔡琰等，也都托庇于他的荫护。可以说，“邺下文人集团”就是在他提供的物质条件基础上形成的；而他们的创作，也是在他的倡导影响下进行的。
<P>此外，曹操还有不少其他文章传世，例如《请追增郭嘉封邑表》、《让县自明本志令》、《与王修书》、《祀故太尉桥玄文》等，文字质朴，感情流露，流畅率真。
<P>曹操著述，据清姚振宗《三国艺文志》考证，有《魏武帝集》30卷录1卷、《兵书》13卷等十余种，然多已亡佚，今存者唯《孙子注》。明代张溥辑散见诗、文等145篇为《魏武帝集》，收入《汉魏六朝百三家集》中。丁福保《汉魏六朝名家集》中也有《魏武帝集》，所收作品略多于张溥辑本。1959年，中华书局据丁福保本，稍加整理补充，增入《孙子注》，又附入《魏志·武帝纪》、《曹操年表》等，重新排印为《曹操集》。
<p>主要作品
<table width="700" border="1">
  <tr>
    <td height="34">短歌行</td>
    <td>观沧海</td>
    <td>龟虽寿</td>
    <td>度关山</td>
  </tr>
  <tr>
    <td height="33">对酒</td>
    <td>董逃歌词</td>
    <td>蒿里行</td>
    <td>苦寒行</td>
  </tr>
  <tr>
    <td height="38">气出唱</td>
    <td>谣俗词</td>
    <td>精列</td>
    <td>塘上行</td>
  </tr>
  <tr>
    <td height="38">却东西门行</td>
    <td>秋胡行 其一</td>
    <td>秋胡行 其二</td>
    <td>步出夏门行 冬十月</td>
  </tr>
  <tr>
    <td height="36">述志令</td>
    <td>陌上桑</td>
    <td>步出夏门行 土不同</td>
    <td>步出夏门行 艳</td>
  </tr>
  <tr>
    <td height="38">薤露行</td>
    <td>善哉行 其一</td>
    <td>善哉行 其二</td>
    <td>善哉行 其三</td>
  </tr>
  <tr>
    <td height="47">有南篇</td>
    <td>沧海赋</td>
    <td>求贤令</td>
    <td>终令</td>
  </tr>
</table>

  </div>
  <div id="cd"><ul><h4>艺术成就</h4>
      <li><a href="chengjiu.html">诗歌</a></li>
      <li><a href="shufa.html">书法</a></li>
	  
  </ul>
  </div>
</div>
<div id="footer">
  <div id="tb"><a href="index.html"><img src="8.公共素材/icon-1.png" name="Image1" border="0"  class="xtb" id="Image1" onmouseover="MM_swapImage('Image1','','8.公共素材/icon-2.png',1)" onmouseout="MM_swapImgRestore()"/></a>
    <a href="index.html"><img src="8.公共素材/icon-3.png" name="Image2" width="22" height="22" border="0"  class="xtb" id="Image2" onmouseover="MM_swapImage('Image2','','8.公共素材/icon-4.png',1)" onmouseout="MM_swapImgRestore()"/></a>
    <a href="index.html"><img src="8.公共素材/icon-5.png" name="Image3" border="0"  class="xtb" id="Image3" onmouseover="MM_swapImage('Image3','','8.公共素材/icon-6.png',1)" onmouseout="MM_swapImgRestore()"/></a></div>
  <div id="yw">Copyright&copy; NIT.All rights reserved  - Designed by NIT.</div>
</div>
</body>
</html>
