<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/script/footer.js}"></script>
</head>

<body onload="MM_preloadImages('8.公共素材/icon-2.png','8.公共素材/icon-4.png','8.公共素材/icon-6.png')">
<div id="container">
    <div id="top"><img src="8.公共素材/logo.png" width="351" height="76"/></div>
    <div id="menu">
        <ul>
            <li><a href="index.html">&nbsp;首页</a></li>
            <li><a href="shengping.html">人物生平</a></li>
            <li><a href="jucuo.html">为政举措</a></li>
            <li><a href="chengjiu.html">艺术成就</a></li>
            <li><a href="qinshu.html">亲属成员</a></li>
            <li><a href="pingjia.html">历史评价</a></li>
            <li><a href="diangu.html" class="dqy">轶事典故</a></li>
        </ul>
    </div>

</div>
<div id="div2"></div>
<div id="contect1">
    <div id="zw2"><h1>轶事典故</h1>
        <img src="7.轶事典故/f-1.jpg" class="picture"/>
        <h3> 谯水击蛟</h3>
        <p>
            曹操十岁那年，有一次在龙潭中游泳，突然遇到一条凶猛的鳄鱼。鳄鱼张牙舞爪地向曹操攻击，但曹操毫不畏惧，沉着地与鳄鱼周旋。鳄鱼无法下口，于是逃掉了。曹操回家后，没有向家人提起鳄鱼的事。后来，有个大人看见一条蛇而恐惧畏缩，曹操大笑，天真地说：“我在龙潭碰到鳄鱼都不怕，你却怕一条蛇，真是可笑！”众人询问，曹操以实相告，无不惊叹少年曹操的胆略。<br/>
        <p></p><br/>
        <p></p><br/>
        <p></p><br/>
        <img src="7.轶事典故/f-2.jpg" class="picture"/>
        <h3>行刺张让</h3>
        <P>曹操曾私入中常侍张让的府邸试图行刺，张让发觉，派人追捕，曹操挥舞着手戟，从庭堂一路打将出来，张让的卫士无法接近他，曹操且战且退，退到垣墙边时，纵身一跳，逾墙而出。
        <p></p><br/>
        <p></p><br/>
        <p></p><br/>
        <p></p><br/>
        <img src="7.轶事典故/f-3.jpg" class="picture"/>
        <h3>望梅止渴</h3>
        <P>有次曹操带兵出征，途中找不到有水的地方，士兵们都很口渴。于是曹操叫手下传话给士兵们说：“ 前面就有一大片梅林，结了许多梅子，又甜又酸，可以解渴。”士兵们听后，嘴里都流口水。他们凭借着这个，得以到达前方有水源的地方。
        <p></p><br/>
        <P></p><br/>
        <p></p><br/>
        <img src="7.轶事典故/f-4.jpg" class="picture"/>
        <h3>割发代首</h3>
        <P>
            有一次，曹操率军经过麦田，下令说：“士卒不要弄坏了麦子，有违反的处死！”军中凡是骑马的人都下马，用手相互扶着麦子走，未想曹操的马竟然窜进了麦地，招来手下的主簿来论罪，主簿用春秋的典故应对说：自古刑法是不对尊贵的人使用的。曹操说：“自己制定的法律而自己违反，如何能统帅属下呢？然而我身为一军之帅，是不能够死的，请求对自己施予刑法。”于是拿起剑来割断头发投掷在地上。
        <p></p><br/>
        <p></p><br/>
        <img src="7.轶事典故/f-5.jpg" class="picture"/>
        <h3>迎回文姬</h3>
        <P>曹操在平定北方后，出于对故人蔡邕的怜惜与怀念，“痛其无嗣”，于是派遣使者用金璧将蔡文姬从匈奴赎回国中，重嫁给陈留人董祀，并让她整理蔡邕所遗书籍四百余篇，为中国文化的传播作出了贡献。
        <p></p><br/>
        <p></p><br/>
        <p></p><br/>
        <img src="7.轶事典故/f-6.jpg" class="picture"/>
        <h3>横槊赋诗</h3>
        <P>赤壁之战前夕，曹操率大军饮马长江，与孙权、刘备联军决战。是夜明月皎洁，他在大江之上置酒设乐，欢宴诸将。酒酣，曹操操取槊立于船头，慷慨而歌。苏东坡在《前赤壁赋》里称其“酾酒临江，横槊赋诗，固一世之雄也”。
        <p></p><br/>
        <p></p><br/>
        <p></p><br/>
        <img src="7.轶事典故/f-7.jpg" class="picture"/>
        <h3>绝妙好辞</h3>
        <P>
            曹操曾经途经曹娥碑下，杨修跟随着（曹操）。石碑的背面题写着“黄绢、幼妇、外孙、齑臼”八个字。曹操问杨修说：“你知道这是什么意思吗？”（杨修）回答说：“知道。”曹操说：“你先别说，等我想一想。”走出三十里远的时候，曹操才说：“我已经知道了。”命令杨修单独写出他所知道的。杨修写：“黄绢，有色的丝织品，写成字是‘绝’；幼妇，少女的意思，写成字是‘妙’；外孙，是女儿的孩子，写成字是‘好’；齑臼，受辛之器，盛纳五辛的器具。五辛的另外一种解释是葱、蒜、椒、姜、芥；注：这不是受尽艰辛的器具，而是受（盛纳）五辛的器具）。这说的是‘绝妙好辞’的意思。”曹操也写下了自己的想法，和杨修是一样的，于是赞叹道：“我的才能比不上你，走了三十里路才明白（碑文的意思）。”<br/>
        <p></p><br/>
        <img src="7.轶事典故/f-8.jpg" class="picture"/>
        <h3>分香卖履</h3>
        <P>
            曹操临终前，留下《遗令》说：“我的婢妾和歌舞艺人都很辛苦，让他们住在铜雀台（遗址在今河北临漳县西南二十公里邺城遗址内），好好安置他们，在台正堂上放六尺床，挂上灵帐，早晚上食物供祭，每月初一、十五两天，从早至午，要向帐中歌舞奏乐。你们要时时登上铜雀台，看望我西陵的墓地。余下的香可分给诸夫人，不用它祭祀。各房的人无事做，可以学着制作带子、鞋子卖。”
            后以“分香卖履”喻临死不忘妻妾，唐朝诗人罗隐在《邺城》中写到：“英雄亦到分香处，能共常人较几多。”宋朝才女李清照在《金石录后序》曾言：“取笔作诗，绝笔而终，殊无分香卖履之意。”
    </div>
</div>
<div id="footer">
    <div id="tb"><a href="index.html"><img src="8.公共素材/icon-1.png" name="Image1" border="0" class="xtb" id="Image1"
                                           onmouseover="MM_swapImage('Image1','','8.公共素材/icon-2.png',1)"
                                           onmouseout="MM_swapImgRestore()"/></a>
        <a href="index.html"><img src="8.公共素材/icon-3.png" name="Image2" width="22" height="22" border="0" class="xtb"
                                  id="Image2" onmouseover="MM_swapImage('Image2','','8.公共素材/icon-4.png',1)"
                                  onmouseout="MM_swapImgRestore()"/></a>
        <a href="index.html"><img src="8.公共素材/icon-5.png" name="Image3" border="0" class="xtb" id="Image3"
                                  onmouseover="MM_swapImage('Image3','','8.公共素材/icon-6.png',1)"
                                  onmouseout="MM_swapImgRestore()"/></a></div>
    <div id="yw">Copyright&copy; NIT.All rights reserved - Designed by NIT.</div>
</div>
</body>
</html>
