<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

</head>

<body onload="MM_preloadImages('8.公共素材/icon-2.png','8.公共素材/icon-4.png','8.公共素材/icon-6.png')">
<div id="container">
  <div id="top"><img src="8.公共素材/logo.png" width="351" height="76" /></div>
  <div id="menu"><ul>
      <li><a href="index.html" >&nbsp;首页</a></li>
      <li><a href="shengping.html">人物生平</a></li>
      <li><a href="jucuo.html" class="dqy">为政举措</a></li>
      <li><a href="chengjiu.html">艺术成就</a></li>
      <li><a href="qinshu.html">亲属成员</a></li>
      <li><a href="pingjia.html">历史评价</a></li>
      <li><a href="diangu.html">轶事典故</a></li>
    </ul>
  </div>
    
</div>
<div id="div2"></div>
<div id="contect">
  <div id="zw"><h3>经济</h3>
<P>汉魏之间，社会生产遭受严重破坏，出现大饥荒。这一时期，粮食供应成为各军事集团最大的问题，因军粮不足而无敌自破者不可胜数。
<P>建安元年，曹操采纳部下枣祇等人的建议，利用攻破黄巾所缴获的物资，在许下募民屯田，当年即大见成效，得谷百万斛。于是曹操命令在各州郡设置田官，兴办屯田。屯田有效地解决了曹操集团的粮食问题，所以曹操说：“后遂因此大田，丰足国用，摧灭群逆，克定天下”。在兴置屯田的同时，曹操采取各种措施，扶植自耕农经济。针对当时人口流失，田地荒芜的情况，曹操先后采取招怀流民、迁徙人口、劝课农桑、兴修水利、检括户籍等办法，充实编户，恢复农业生产。此外，曹操还陆续颁布法令，恢复正常租调制度，防止豪强兼并小农。建安五年，曹操颁布新的征收制度，到建安九年，又明确：“其收田租亩四升，户出绢二匹，绵二斤而已，他不得擅兴发。”曹操前后实行的这一系列措施，使濒于崩溃的自耕农经济不断得到了恢复和发展。这成为曹操集团的雄厚经济基础。通过以上二项措施，曹操统治区的农业生产迅速恢复。这是曹操在经济上的一大成功。
<P>屯田制的实行，是以国家投资的方式保证再生产，工作效率当然高于普通的自耕农。因此这个政策收到立竿见影之效，短时间内就将地方变成“农官兵田，鸡犬之声，阡陌相属”的欣欣向荣，称其为一大创举并不过分。曹操在攻破邺城后，鉴于东汉后期沉重的人头税，改为户调制，对土地所有者（包括自耕农和地主）收田租每亩为四升，每户出绢二匹、绵二斤，“他不得擅兴发。”这一政策大大减轻了农民的负担，得到了一致的拥护。
<P>曹操在世时大力兴修水利设施并卓有成效，如在周瑜的家乡舒城建立的七门三堰一直到北宋宋仁宗时还能每天浇灌两万顷良田。这些政策之厉害，可以从下面的事例中反映出来：第一，曹操在汉中打过两仗，先战胜张鲁后败于刘备，但由于北方的元气恢复他前后顺利地从汉中武都等地迁出了十三四万户人口。以一户人家四口人计算，这就是五十多万。第二，建安十九年五月，吕蒙提醒孙权，曹操在皖城（即庐江）一带屯田，如果坐等他们收获，无异于如虎添翼。因此东吴趁雨季来临水军来去自如之机，孙权大动干戈亲征皖城这么一个弹丸之地，吕蒙、甘宁全上阵后俘获太守朱光，迁数万百姓回吴。有统计称，孙策、孙权兄弟曾先后四次打到周瑜的故乡淮南舒城一带，但毫无例外的是劫掠而还。
<P>开源同时，曹操也非常注意节流，并以身作则。史书中称曹操“雅性节俭，不好华丽，后宫衣不锦绣，侍御履不二采，帷帐屏风，坏则补纳，茵蓐取温，无有缘饰。”简单地说，衣服没有花里胡哨，鞋子不曾雕花绣彩，帷帐屏风落满补丁，床榻被褥“败絮其中”。在曹操的大力纠正下，东汉以来的奢华之风为之一扭，天下的人都以廉洁勤俭自律。即使是高官显贵也不敢过度铺张，甚至出现了有人故意穿破旧衣服取悦曹操的咄咄怪事。
<P>建安十四年，曹操反过来不得不下令来纠正这一奇怪的不正之风。曹操的遗嘱，也体现了自己的一贯俭朴的风格：“天下尚未安定，未得遵古也。葬毕，皆除服。其将兵屯戍者，皆不得离屯部。有司各率乃职。敛以时服，无藏金玉珍宝。”相比之下，刘备、孙权的晚年则是昏聩糊涂。《三国志·先主传》注引《典略》记载：“刘备称汉中王，于是起馆舍，筑亭障，从成都至白水关，四百余区”，他的这些所作所为，后来成了陈群劝谏曹叡弃奢华罢宫室的反面教材：“昔刘备自成都至白水，多作传舍，兴费人役，太祖知其疲民也。”[44] 孙权在太子废立上的胡来更是把群臣弄得四分五裂无所适从，已经成了笑柄了。


  </div>
  <div id="cd"><ul><h4>为政举措</h4>
      <li><a href="jucuo.html">政治</a></li>
      <li><a href="jinji.html">经济</a></li>
	  <li><a href="junshi.html">军事</a></li>
	  <li><a href="wenhua.html">文化</a></li>  
  </ul>
  </div>
</div>
<div id="footer">
  <div id="tb"><a href="index.html"><img src="8.公共素材/icon-1.png" name="Image1" border="0"  class="xtb" id="Image1" onmouseover="MM_swapImage('Image1','','8.公共素材/icon-2.png',1)" onmouseout="MM_swapImgRestore()"/></a>
    <a href="index.html"><img src="8.公共素材/icon-3.png" name="Image2" width="22" height="22" border="0"  class="xtb" id="Image2" onmouseover="MM_swapImage('Image2','','8.公共素材/icon-4.png',1)" onmouseout="MM_swapImgRestore()"/></a>
    <a href="index.html"><img src="8.公共素材/icon-5.png" name="Image3" border="0"  class="xtb" id="Image3" onmouseover="MM_swapImage('Image3','','8.公共素材/icon-6.png',1)" onmouseout="MM_swapImgRestore()"/></a></div>
  <div id="yw">Copyright&copy; NIT.All rights reserved  - Designed by NIT.</div>
</div>
</body>
</html>
