<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

</head>

<body onload="MM_preloadImages('8.公共素材/icon-2.png','8.公共素材/icon-4.png','8.公共素材/icon-6.png')">
<div id="container">
  <div id="top"><img src="8.公共素材/logo.png" width="351" height="76" /></div>
  <div id="menu"><ul>
      <li><a href="index.html" >&nbsp;首页</a></li>
      <li><a href="shengping.html">人物生平</a></li>
      <li><a href="jucuo.html" >为政举措</a></li>
      <li><a href="chengjiu.html" >艺术成就</a></li>
      <li><a href="qinshu.html" class="dqy">亲属成员</a></li>
      <li><a href="pingjia.html">历史评价</a></li>
      <li><a href="diangu.html">轶事典故</a></li>
    </ul>
  </div>
    
</div>
<div id="div2"></div>
<div id="contect1">
  <div id="cy"><h2>亲属成员</h2>
 <ul> <h3>长辈</h3>
    <li>养祖父：曹腾</li>
    <li>养祖母：吴氏（曹腾之“对食”妻子）</li>
    <li>父：曹嵩</li>
    <li>母：邹氏（一说为丁氏）</li>
  </ul>
 <ol> <h3>妻妾</h3>
 <li>丁夫人，曹操原配夫人，无子女。</li>
 <li>卞夫人，曹操继配夫人，武宣卞皇后。生曹丕、曹彰、曹植、曹熊四子。</li>
 <li>刘夫人，曹操之妾，生曹昂、曹铄二子。</li>
 <li>环夫人，曹操之妾，生曹冲、曹据、曹宇三子。</li>
 <li>杜夫人，曹操之妾，生曹林、曹衮二子。</li>
 <li>秦夫人，曹操之妾，生曹玹、曹峻二子。</li>
 <li>尹夫人，曹操之妾，生曹矩。</li>
 <li>陈夫人，曹操之妾，生曹干。</li>
 <li>王昭仪，曹操之妾，曹干养母</li>
 <li>孙姬，曹操之妾，生曹上、曹彪、曹勤三子。</li>
 <li>李姬，曹操之妾，生曹乘、曹整、曹京三子。</li>
 <li>姬，曹操之妾，生曹均。</li>
 <li>刘姬，曹操之妾，生曹棘。</li>
 <li>宋姬，曹操之妾，生曹徽</li>
 <li>赵姬，曹操之妾，生曹茂。</li>
 </ol>
 <h3>子女</h3>
 <table width="1049" border="1">
  <tr>
    <td height="37" colspan="4" class="fh">据《魏志·文帝纪》《任城陈萧王传》《武文世王公传》记载，曹操的儿子有25位</td>
    </tr>
  <tr>
    <td width="473" height="44">曹丕，魏文帝</td>
    <td width="240">曹彰，任城威王</td>
    <td width="163">曹植，陈思王</td>
    <td width="145">曹熊，萧怀王</td>
  </tr>
  <tr>
    <td height="35">曹昂，丰愍王</td>
    <td>曹铄，相殇王</td>
    <td>曹冲，邓哀王</td>
    <td>曹据，彭城王</td>
  </tr>
  <tr>
    <td height="41">曹宇，燕王</td>
    <td>曹林，沛穆王</td>
    <td>曹衮，中山恭王</td>
    <td>曹玹，济阳怀王</td>
  </tr>
  <tr>
    <td height="37">曹峻，陈留恭王</td>
    <td>曹矩，范阳闵王</td>
    <td>曹干，赵王</td>
    <td>曹上，临邑殇公子</td>
  </tr>
  <tr>
    <td height="35">曹彪，楚王</td>
    <td>曹勤，刚殇公子</td>
    <td>曹乘，谷城殇公子</td>
    <td>曹整，郿戴公</td>
  </tr>
  <tr>
    <td height="34">曹京，灵殇公子</td>
    <td>曹均，樊安公</td>
    <td>曹棘，广宗殇公子</td>
    <td>曹徽，东平灵王</td>
  </tr>
  <tr>
    <td height="38">曹茂，乐陵王</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="35" colspan="4">曹操的女儿，可考证者6位</td>
    </tr>
  <tr>
    <td height="41">清河长公主，名不详，夏侯楙之妻</td>
    <td>曹宪，汉献帝贵人 </td>
    <td>曹节，汉献帝皇后</td>
    <td>曹华，汉献帝贵人</td>
  </tr>
  <tr>
    <td height="41">安阳公主，名不详，荀恽之妻</td>
    <td>金乡公主，名不详，何晏之妻</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="36" colspan="4">曹操的养子，可考证者3位</td>
    </tr>
  <tr>
    <td height="44">何晏，大将军何进之孙，貌美而无行，娶曹操之女金乡公主</td>
    <td>秦朗</td>
    <td>曹真字子丹</td>
    <td>&nbsp;</td>
  </tr>
</table>

  </div>
</div>
<div id="footer">
  <div id="tb"><a href="index.html"><img src="8.公共素材/icon-1.png" name="Image1" border="0"  class="xtb" id="Image1" onmouseover="MM_swapImage('Image1','','8.公共素材/icon-2.png',1)" onmouseout="MM_swapImgRestore()"/></a>
    <a href="index.html"><img src="8.公共素材/icon-3.png" name="Image2" width="22" height="22" border="0"  class="xtb" id="Image2" onmouseover="MM_swapImage('Image2','','8.公共素材/icon-4.png',1)" onmouseout="MM_swapImgRestore()"/></a>
    <a href="index.html"><img src="8.公共素材/icon-5.png" name="Image3" border="0"  class="xtb" id="Image3" onmouseover="MM_swapImage('Image3','','8.公共素材/icon-6.png',1)" onmouseout="MM_swapImgRestore()"/></a></div>
  <div id="yw">Copyright&copy; NIT.All rights reserved  - Designed by NIT.</div>
</div>
</body>
</html>
