<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/script/footer.js}"></script>
</head>

<body onload="MM_preloadImages('8.公共素材/icon-2.png','8.公共素材/icon-4.png','8.公共素材/icon-6.png')">
<div id="container">
    <div id="top"><img src="8.公共素材/logo.png" width="351" height="76"/></div>
    <div id="menu">
        <ul>
            <li><a href="index.html">&nbsp;首页</a></li>
            <li><a href="shengping.html">人物生平</a></li>
            <li><a href="jucuo.html" class="dqy">为政举措</a></li>
            <li><a href="chengjiu.html">艺术成就</a></li>
            <li><a href="qinshu.html">亲属成员</a></li>
            <li><a href="pingjia.html">历史评价</a></li>
            <li><a href="diangu.html">轶事典故</a></li>
        </ul>
    </div>

</div>
<div id="div2"></div>
<div id="contect">
    <div id="zw1"><h3>书法</h3>
        <P>
            后人称曹操为中华民族历史上杰出的政治家、军事家、文学家，文武双全、文艺兼亥之人。而曹操是一代书法家却鲜为人知，这主要是曹操传世的书法作品较少的缘故。历史上见过曹操书法作品的人，无不赞其书作有“金花细落，遍地玲珑；荆玉分辉，瑶若璀粲。”、“笔墨雄浑，雄逸绝论。”之大美。
        <P>西晋文学家张华在《博物志》中称：“汉世，安平崔瑗、瑗子寔、弘农张芝、芝弟昶并善草书，而太祖亚之。”
        <P>
            南朝的书法评论家庾肩吾在其《书品》中，把古代名人的书法作品分为：上、中、下三品，每品又分作上、中、下，共九品；他把曹操的书法作品列入中中之品。唐代书法家兼评论家张玉灌，按历代书法家的艺术成就，把它们划分为神、妙、能三类：杰立特出者为神，运用精美者为妙，离俗不谬者为能；他在书法评论专著《书
            断》中称曹操的书法作品为妙品。由此看来，曹操的书法作品虽不能列为神品、上品，但在全国名书法家中是数得着的。
        <P>
            有史料记载，他除常与当时出名的书法家：钟繇、梁鹄、邯郸淳、韦诞、孙子荆等人切磋书艺外，还特把喜爱的秘书令梁鹄的字挂在帐中，细细揣摩、欣赏；有时夜间睡不着，便起来慢慢品位、琢磨钉满墙的梁鹄的字。不仅如此，魏宫的牌匾他都让梁鹄写，可以说仰俯皆是。他与梁鹄之间还有一段鲜为人知的故事：梁鹄倾其一生至力于书法事业，当曹操得知梁为借读大书法家蔡邕留给韦诞的一部论笔法的专著遭拒后，便又气又恨，呕血不止时，他遂将自己专用的五灵丹拿给梁鹄服用。
        <P>曹操虽善书，大概因忙于战事、政事，没有机会写，所以他流传于世的墨迹很少。
        <P>
            宋郑樵在所著《通志·金石略》中，仅收录曹操书写的一篇《大飨碑》；明杨慎在《丹铅总录》中，也只是说到元朝时还有曹操书写的《贺捷表》；清叶奕苞在《金石录》中说，曹操在武昌“黄鹤楼”侧曾写有特大、凛凛有生气、正书的“涌月台”三字。现留存于世的只有两个字了，即曹操在征汉中时，写在石门南褒河一块大石上的“衮雪”二字，现已迁入汉中博物馆内。亳州《曹操地下运兵道》处所见到的“衮雪”二字，系依拓本刻写；上边两个隶书小字落款“魏王”，因系直题，又模糊不清，乃后人仿题的。
        <P>
    </div>
    <div id="cd">
        <ul><h4>艺术成就</h4>
            <li><a href="chengjiu.html">诗歌</a></li>
            <li><a href="shufa.html">书法</a></li>

        </ul>
    </div>
</div>
<div id="footer">
    <div id="tb"><a href="index.html"><img src="8.公共素材/icon-1.png" name="Image1" border="0" class="xtb" id="Image1"
                                           onmouseover="MM_swapImage('Image1','','8.公共素材/icon-2.png',1)"
                                           onmouseout="MM_swapImgRestore()"/></a>
        <a href="index.html"><img src="8.公共素材/icon-3.png" name="Image2" width="22" height="22" border="0" class="xtb"
                                  id="Image2" onmouseover="MM_swapImage('Image2','','8.公共素材/icon-4.png',1)"
                                  onmouseout="MM_swapImgRestore()"/></a>
        <a href="index.html"><img src="8.公共素材/icon-5.png" name="Image3" border="0" class="xtb" id="Image3"
                                  onmouseover="MM_swapImage('Image3','','8.公共素材/icon-6.png',1)"
                                  onmouseout="MM_swapImgRestore()"/></a></div>
    <div id="yw">Copyright&copy; NIT.All rights reserved - Designed by NIT.</div>
</div>
</body>
</html>
