<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body >
<div  th:fragment="footer" >
    <div id="tb">
        <a th:href="@{/}">
            <img th:src="@{/img/icon-1.png}" name="Image1" border="0" class="xtb" id="Image1"
                 onmouseover="MM_swapImage('Image1','','/img/icon-2.png',1)" onmouseout="MM_swapImgRestore()"/></a>
        <a th:href="@{/}">
            <img th:src="@{/img/icon-3.png}" name="Image2" width="22" height="22" border="0" class="xtb" id="Image2"
                 onmouseover="MM_swapImage('Image2','','/img/icon-4.png',1)" onmouseout="MM_swapImgRestore()"/></a>
        <a th:href="@{/}">
            <img th:src="@{/img/icon-5.png}" name="Image3" border="0" class="xtb" id="Image3"
                 onmouseover="MM_swapImage('Image3','','/img/icon-6.png',1)"
                 onmouseout="MM_swapImgRestore()"/></a></div>
    <div id="yw">Copyright&copy; NIT.All rights reserved - Designed by NIT.</div>
</div>
</body>